.flashcardContainer {
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  width: 90vw;
  align-items: center;
  margin: 0 auto;
}

.flashcardContainer p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.question {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.button {
  padding: 10px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 22px;
}

.buttonYellow {
  background-color: #d29e00;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.buttonGreen {
  background-color: #4caf50;
}

.descricao {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  color: white;
}

.cardBack p {
  font-size: 1.1rem;
  font-weight: 400;
}

.infoText {
  max-width: 300px;
  color: #246ec2;
  margin: 10px auto 0;
  padding: 5px;
  border-radius: 5px;
}

.infoText p {
  font-size: 1.1rem;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.cardContainer {
  perspective: 1000px; /* Adiciona perspectiva para o efeito 3D */
  width: 100%;
}

.card {
  width: 300px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.6s;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 10px;
}

.cardClicked {
  transform: rotateY(180deg); /* Gira a carta ao passar o mouse */
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Esconde o lado de trás quando o outro lado está visível */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
}

.cardFront {
  background-color: #4caf50;
  color: white;
}

.cardBack {
  background-color: #f44336;
  color: white;
  transform: rotateY(180deg); /* Gira o verso da carta */
}
.yellow {
  background-color: #d29e00;
}
